<div class="container mt-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{cover}}" class="img-fluid rounded-start" alt="Imagem da Capa">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{name}}</h1>
                    <p class="card-text"><strong>Tipo:</strong> {{type}}</p>
                    <p class="card-text"><strong>Data de Upload:</strong> {{created_at}}</p>
                    <p class="card-text"><strong>Descrição:</strong> {{description}}</p>
                    <a href="{{torrent}}" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>